<!DOCTYPE html>
<html>
<head>
    <title>Canvas Image Composer</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <h1>MORIPURA</h1>
    <div id="canvas_wrapper">
        <canvas id="canvas" width="800" height="600"></canvas>
    </div>
    <br>
    <div id="button_wrapper">
        <button onclick="change()">背景を変更</button>
        <button id="downloadButton">ダウンロード</button>
    </div>
    <p>一定時間が経過すると画像にアクセスできなるなります。</p>
    <h1>create by combu</h1>
    <!-- <script src="static/js/value.js"></script> -->
    <script src="static/js/canvas.js"></script>
</body>
</html>
