<!DOCTYPE html>
<html>
<head>
    <title>Canvas Image Composer</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <h1>MORIPURA</h1>
    <div id="canvas_wrapper">
        <canvas id="canvas" width="800" height="600"></canvas>
    </div>
    <br>
    <div id="button_wrapper">
        <p>
            ※写真をタップするとスタンプを押せます<br>
            ※一定時間が経過すると画像は削除されます。
        </p>
        <button onclick="change()">モリプラの背景を変更</button>
        <button onclick="change_stamp()">スタンプ変更</button>
        <button onclick="clear_stamp()">スタンプ削除</button>
        <button id="downloadButton">ダウンロード</button>
    </div>
    <h1>create by combu</h1>
    <!-- <script src="static/js/value.js"></script> -->
    <script src="static/js/canvas.js"></script>
</body>
</html>
